<% if (typeof message !== 'undefined') { %>
  <b><%= message %></b>
<% } %>

<form action="/login" method="post">
	<div>
	<label>ID:</label>
	<input type="text" name="identifier"/><br/>
	</div>
	<div>
  <% if (typeof state !== 'undefined') { %>
    <input type="hidden" name="state" value="<%= state %>"/>
  <% } %>
  <% if (typeof csrfToken !== 'undefined') { %>
    <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
  <% } %>
	<input type="submit" value="Submit"/>
	</div>
</form>
