<img src=<%= barcodeURL %>>
<form action="/login/otp" method="post">
	<div>
	<label>OTP:</label>
	<input type="password" name="otp"/>
	</div>
	<div>
  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
	<input type="submit" value="Submit"/>
	</div>
</form>
