<form action="/login/otp" method="post">
	<div>
	<label>User Name:</label>
	<input type="text" name="username"/><br/>
	</div>
	<div>
	<label>OTP:</label>
	<input type="password" name="otp"/>
	</div>
	<div>
	<input type="submit" value="Submit"/>
	</div>
</form>
