<b>Select account</b>


<form action="/account/select" method="post">
<ul>
<% accounts.forEach(function(account){ %>
  <li>
    <button name="selected_session" value="<%= account.sessionSelector %>"><%= account.displayName %></button>
  </li>
<% }); %>
</ul>
  <% if (typeof state !== 'undefined') { %>
    <input type="hidden" name="state" value="<%= state %>"/>
  <% } %>
  <% if (typeof csrfToken !== 'undefined') { %>
    <input type="hidden" name="csrf_token" value="<%= csrfToken %>"/>
  <% } %>
</form>