<% if (typeof message !== 'undefined') { %>
  <b>Failed attempts: <%= failureCount %></b>
<% } %>

<form action="/login/otp" method="post">
	<div>
	<label>OTP:</label>
	<input type="text" name="otp"/>
	</div>
	<div>
  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
	<input type="submit" value="Submit"/>
	</div>
</form>
